@import url("./main.css");
@import "../includes/varandfunctions.styl"

body
	background #f8f8f8


#c-cosecha
	menu_selected()		
		
/*#fCiclo
	.row
		margin 0 5px !important
		.group-input, .group-select, .group-subtitle
			margin-bottom 5px
			padding 0 3px !important
			label
				color #555
			input,select,textarea
				width 100%
			p.large-control
				color color2
				font-size 16px
				font-weight 500
				margin-bottom 5px*/

/*@media(min-width 414px)
	//estilo de form
	#fCiclo
		display flex
		flex-flow row wrap
		align-items center
		
		input,.custom-select
			flex auto
			width auto
		#codCiclo
			max-width 150px
		#btnRegCiclo
			flex none*/