@import url("./main.css");
@import "../includes/varandfunctions.styl"

body
	background #f8f8f8

#e-financiero
	menu_selected()
				
/*#searchTecnico
	position relative
	max-width 350px
	.resultadosTecnicos
		background #fff
		border 1px solid #ddd
		border-radius 3px
		top 40px
		padding 0
		position absolute
		z-index 1
		.itemEnte
			box-sizing border-box
			align-items center
			display flex
			flex-flow row wrap
			padding 7px
			&:hover
				background #f8f8f8
			p
				color #000
				flex 0 0 80%
				font-size 14px
				margin 0
			button
				background color1
				border 0
				border-radius 50px
				color #fff
				flex 0 0 20%
				font-size 14px
				padding 7px
		hr
			background #ddd
			margin 0 auto
			width 95%
	.listTecnicos
		h6
			font-weight 400
			margin 10px 0
		ul,li
			box-sizing border-box
			list-style: none
			margin 0
			padding 0
		li
			display inline-block
			padding 3px
			vertical-align top
			width 100%
			a
				background #eee
				border-radius 50px
				color #000
				display block
				font-size 13px
				padding 7px 15px
				padding-right 35px
				position relative
				text-decoration none
				transition(.5s, all)
				
				&:hover
					background color3
					color #fff
				
				i
					right 15px
					position absolute
					&:before
						cursor pointer
						font-size 8px
						margin 0*/
		
/*@media(min-width 414px)
	#fEnte
		display flex
		flex-flow row wrap
		align-items center
		
		input,.custom-select
			flex auto
			width auto
		
		#dfiscal
			min-width calc(100% - 6px)
		#btnRegEnte
			flex none*/

	/*#searchTecnico
		.listTecnicos
			ul
				display flex
				flex-flow row wrap
				align-items center
			li
				flex auto
				width auto*/