-var modulo = 'Entes Financieros';
-var estilosCss = 'css/efinanciero.css';
-var formato_archivos = '';

|<?php
| error_reporting(E_ERROR | E_WARNING | E_PARSE);
|	include("../controller/mainscript.php");
|	require_once("../controller/class.entidad.php");
| require_once("../controller/class.direction.php");
|	require_once("../controller/class.intencion.php");
| $nUNDproduccion = count($undproduccion["data"]);
|
|?>
|

doctype
html.h-100(lang="es")
	head
		include ../includes/head_common.pug
		title Sepa
		link(rel="stylesheet" href=estilosCss)
		script.
			let jsonCiclos = JSON.parse(`<?php echo $total_ciclos; ?>`);
			var ssdata = JSON.parse(`<?php echo $session_data; ?>`);
			//console.log(ssdata);
	body.h-100
		#fondoDark
		.container-fluid.h-100
			
			include ../includes/header.pug
			.main-content.row.h-100
				.barra_lateral.col-12.col-md-auto
					nav
						.leyenda
							a(href="./dashboard" + formato_archivos) Principal
							span  / 
							a(href="./archivos" + formato_archivos) Archivos
							span  / #{modulo}
						include ../includes/mnu_archivos.pug
				main.contenido.col
					.row.m-0
						section#migasdepan.col-12
							.leyenda
								a(href="./dashboard" + formato_archivos) Principal
								span  > 
								a(href="./archivos" + formato_archivos) Archivos
								span 
									| > 
									b #{modulo}
						section.col-12.col-lg
							#cont-ente.card
								h3.flaticon-pagar Entes Financieros
								ul#tabEnte.nav.nav-tabs.d-none(roles="tablist")
									li.nav-item
										a#tabList.nav-link.active(href="#list", data-toggle="tab") Resumen
									li.nav-item
										a#tabNew.nav-link(href="#new", data-toggle="tab") Datos Principales								
								#contenidoTabEnte.tab-content
									#list.tab-pane.fade.show.active(role="tabpanel")
										h4 Entes Registrados
										.table-responsive
											table#tabla.tabla-entidad.table.table-striped.table-hover
												thead
													tr
														th #
														th C.I./Rif
														th Razón Social
														th Dirección
														th Telefono
														th.d-none
														th.d-none
														th.d-none
														th.d-none
														th.d-none
														th.d-none
														th.d-none
														th.d-none
														th.d-none
														th.d-none
												tbody
													|<?php 
													|	$entidadf = new Entidad(array("busqueda"=>"%"));
													|	$data = $entidadf->buscar();
													|	$estado = $data["estado"];
													|	$desc = $data["descripcion"];
													|	$reg = $data["data"];
													|	foreach ($reg as $key => $value) {
													|		if($value["rif"]!=='A000000001'){
													|			echo "<tr>
													|				<td><a href='javascript:void(0)' class='flaticon-lapiz-boton-de-editar edit'></a></td>
													|				<td>".$value["rif"]."</td>
													|				<td>".$value["razonsocial"]."</td>
													|				<td class='text-collapsed'>".$value["direccion"]."</td>
													|				<td class='text-collapsed'>".$value["telefono"]."</td>	
													|				<td class='d-none'>".$value["correoe"]."</td>
													|				<td class='d-none'>".$value["representante"]."</td>
													|				<td class='d-none'>".$value["telfrepresentante"]."</td>
													|				<td class='d-none'>".$value["paginaweb"]."</td>
													|				<td class='d-none'>".$value["estado"]."</td>
													|				<td class='d-none'>".$value["municipio"]."</td>
													|				<td class='d-none'>".$value["parroquia"]."</td>
													|				<td class='d-none'>".$value["sector"]."</td>
													|				<td class='d-none'>".$value["estatus"]."</td>
													|				<td class='d-none'>".$value["usuario"]."</td>
													|			</tr>";
													|		}
													|	}
													|?>																		
											//h4.noData
									#new.tab-pane.fade(role="tabpanel")
										h4 Nuevo ente financiero
										form#fEnte.form-module(action="#" method="post" autocomplete="off")
											.row.m-0
												.col-12.col-sm-3.p-1
													label.custom-label CI/Rif *
													input#crif(type="text", name="ci-rif" maxlength="10" placeholder='Ej. J321459658')
												.col-12.col-sm-5.p-1
													label.custom-label Razón Social *
													input#razons(type="text", name="razons" maxlength="100")
												.col-12.col-sm-4.p-1
													label.custom-label Telefono *
													input#tlf(type="tel", name="tlf" maxlength="100")
												.col-12.col-sm-6.p-1
													label.custom-label Correo Electrónico *
													input#correo(type="email", name="correo" maxlength="50" placeholder='juan@gmail.com')
												.col-12.col-sm-6.p-1
													label.custom-label Dirección de Pagina Web
													input#pagina.no-valid(type="text", name="pagina" maxlength="255" placeholder='www.ejemplo.org')
												.w-100
												.col-12.col-sm-4.p-1
													label.custom-label Estado *
													select#estado.custom-select(name="estado")
														option(value) Seleccione una opción
														|<?php 
														|	$direccion = new Direccion();
														|	$data = $direccion->getEstados();
														|	$estado = $data["estado"];
														|	$desc = $data["descripcion"];
														|	$reg = $data["data"];
														|	foreach ($reg as $key => $value) {
														|		echo '<option value="'.$value['codigo'].'">'.$value["nombre"].'</option>';
														|	}?>															
												.col-12.col-sm-4.p-1
													label.custom-label Municipio *
													select#municipio.custom-select(name="municipio")
														option(value) Seleccione una opción
												.col-12.col-sm-4.p-1
													label.custom-label Parroquia
													select#parroquia.custom-select.no-valid(name="parroquia")
														option(value) Seleccione una opción
												.col-12.col-sm-4.autocomplete.p-1
													label.custom-label Sector
													input#sector.no-valid(type="text" name="sector" data-twovalue='')
												.col-12.col-sm-8.p-1
													label.custom-label Dirección
													input#dfiscal.large-control.no-valid(type="text", name="dfiscal" maxlength="200")
												.col-12.p-1
													p.large-control Representante Legal
												.col-12.col-sm-6.p-1
													label.custom-label Nombre y Apellido
													input#representante(type="text", name="rlegal" maxlength="100")
												.col-12.col-sm-6.p-1
													label.custom-label Telefono
													input#tlfrepresentante(type="text", name="tlfrlegal" maxlength="50")
												.col-12.p-1
													p.large-control Datos de usuario
												.col-12.col-sm-4.p-1
													label.custom-label Usuario *
													input#nomusuario(type="text", name="nomusuario")
												.col-12.col-sm-4.p-1
													label.custom-label Contraseña *
													input#claveusuario(type="password", name="claveusuario")
												.col-12.col-sm-4.p-1
													label.custom-label Confirmar contraseña *
													input#confirmarclave(type="password", name="confirmarclave")
												.col-12
													.custom-control.custom-switch
														input#switchEnte.custom-control-input(type="checkbox", name="estatus")
														label.custom-control-label(for="switchEnte") Activo/Inactivo
												.col-auto.p-0.mt-2.ml-auto
													input#btnBack.b-style-color1(type="button" value="Volver" onclick="js('#tabList').click(),js('#buttonNew').removeAttribute('style')")
												.col-auto.px-1.mt-2
													input#btnClean.b-style-cancel(type="button" value="Cancelar")
												.col-auto.p-0.mt-2
													input#btnReg.b-style-color3.load(type="submit" value="Guardar")
				.button-primary-new
					a#buttonNew.flaticon-anadir(href="javascript:void(0)")
				#boxNew.row.m-0.position-fixed.h-100
						#boxButtons.align-self-end
							.item-button
								label Intención de siembra
								a.flaticon-escritura(href="./intencion")
							.item-button
								label Productor
								a.flaticon-agricultor(href="./productores")
							.item-button
								label Técnico de campo
								a.flaticon-obrero(href="./tecnico_campo")
							.item-button.primary
								label Nuevo Ente financiero
								a.flaticon-pagar(href='javascript:void(0)' onclick="main.hideBoxNew(), js('#tabNew').click()")

	include ../includes/scripts.pug
	script(src="js/datatables/datatables.min.js")
	script(src="js/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js")
	script(src="js/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js")
	script(src="js/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js")
	script(src="js/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js")
	script(src="js/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js")
	script(src="js/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js")
	script(src="js/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js")
	script(src="js/class.entes.js?v=2")
	script.

		var main = new Main();
		var dashboard = new Dashboard();
		dashboard.getCicle(jsonCiclos);
		main.boxNew();

		let forms = js('#fEnte');
		let crif = js("#crif");
		let razons = js("#razons");
		let tlf = js("#tlf");
		let correo = js("#correo");
		let pagina = js("#pagina");
		let estado = js("#estado");
		let municipio = js("#municipio");
		let parroquia = js("#parroquia");
		let sector = js("#sector");
		let dfiscal = js("#dfiscal");
		let representante = js("#representante");
		let tlfrepresentante = js("#tlfrepresentante");
		let nomusuario = js("#nomusuario");
		let claveusuario = js("#claveusuario");
		let confirmarclave = js("#confirmarclave");
		let switchState = js("#switchEnte");
		let bGuardar = js("#btnReg");
		let bLimpiar = js("#btnClean");

		let updateEnte = 0;
		let valueStatus = 0;
		var blockElement = [crif,nomusuario];

		IMask(crif,{mask:EXPrifMask});
		IMask(tlf,{mask:'0000-0000000'});
		IMask(tlfrepresentante,{mask:'0000-0000000'});

		var entes = new Entes(
			crif,
			razons,
			tlf,
			correo,
			pagina,
			estado,
			municipio,
			parroquia,
			sector,
			dfiscal,
			representante,
			tlfrepresentante,
			nomusuario,
			claveusuario,
			confirmarclave,
			switchState
		);

		$('.tabla-entidad').DataTable({
				dom: 'Bfrtip',
				buttons: [
						'excel', 'pdf', 'print'
				]
		});	

		//obtener datos de la tabla y enviarlos al formulario
		$(document).on("click",".edit",function(e){
			let tr = $(this).parents("tr");

			let data = {
				rif: tr.children("td").eq(1).text(),
				razonsocial: tr.children("td").eq(2).text(),
				direccion: tr.children("td").eq(3).text(),
				telefono: tr.children("td").eq(4).text(),
				correoe: tr.children("td").eq(5).text(),
				representante: tr.children("td").eq(6).text(),
				telfrepresentante: tr.children("td").eq(7).text(),
				paginaweb: tr.children("td").eq(8).text(),
				estado: tr.children("td").eq(9).text(),
				municipio: tr.children("td").eq(10).text(),
				parroquia: tr.children("td").eq(11).text(),
				sector: tr.children("td").eq(12).text(),
				estatus: tr.children("td").eq(13).text(),
				usuario: tr.children("td").eq(14).text()
			}

			entes.getRegistro(data);
		})

		//llenar select de municipio y parroquia y sector
		estado.addEventListener("change",function(){
			main.getMunicipio(this.value,municipio,'');
			main.getParroquia(999999,parroquia,'');
		});
		municipio.addEventListener("change",function(){
			main.getParroquia(this.value,parroquia,'');
		});
		parroquia.addEventListener("change",function(){
			sector.value='';
			sector.dataset.twovalue = '';
			main.getSector(this.value,sector,'');
		});

		//guardar
		forms.addEventListener("submit",function(){
			event.preventDefault();
			entes.guardar();
		});

		bLimpiar.addEventListener("click",function(e){
			entes.limpiar();
		})