|<?php
|	session_start();
|	if (isset($_SESSION["sepa_login"]) && $_SESSION["sepa_login"]===true) {
|		header("location: ./dashboard");
|	}
|?>
|
|
doctype
html.h-100(lang="es")
	head
		include ../includes/head_common.pug
		title Sepa
		link(rel="stylesheet" href="css/style.css?v=1")
		script.
	body.h-100
		.container.h-100
			.row.m-0.h-100
				.col.p-0.pt-md-5.align-self-center.align-self-md-start
					#home.row.justify-content-center.align-items-center.align-items-start-md.pt-1.pt-sm-5.pt-md-0
						section#header.col-12.col-md-6.align-self-center
							//.logo: h1 Səpa
							.logo: a(href="./"): img(src="./img/logotipo-light.svg", alt="")
							.title Sistema 
								span Estadistico 
								|de 
								span Producción Agricola
							//button#entrar Entrar
						section#login.col-12.col-md-6.align-self-start.mt-3.align-self-md-center.d-flex.justify-content-center.justify-content-md-end
							.form-content
								h3 Entrar a la plataforma administrativa
								#alertForm.alert.alert-success(role="alert")
									span.msj-alert
								form#flogin(action="", name="login", method="post" autocomplete="off")
									input#usuario(type="text", name="usuario" class="iptUsuario" placeholder="Usuario")
									input#clave(type="password", name="clave" class="iptUsuario" placeholder="Contraseña")
									input#btnlogin.b-style-color3(type="submit", name="bentrar" value="Entrar")
									//p.btnreg Si aun no tiene una cuenta 
										a(href="./sing-up") Registrarse
								.sepforzado(style="clear:both;")
								//p#errorlogin.alert.alert-danger Usuario o contraceña incorrecto
						section.piedepagina.col-12
							//a#logogobierno(href="#"): img(src="img/logotipo-gobierno-light.svg", alt="Gobierno Bolivariano de Portuguesa")
					.footer.row
						footer
	include ../includes/scripts.pug
	script.
		var main = new Main();
		//dashboard.sesion();
		let form = document.querySelector("#flogin");
		let usuario = document.querySelector("#usuario");
		let clave = document.querySelector("#clave");
		let bEntrar = document.querySelector("#btnlogin");

		let login = new Login(
			usuario,
			clave,
			bEntrar,
			form
		)

		usuario.focus();

		form.addEventListener("submit",function(e){
			e.preventDefault();

			login.guardar();

		})