@import url("./main.css");
@import "../includes/varandfunctions.styl"

body
	background #f8f8f8


#intencionsiembra
	menu_selected()
	
hr
	background #dfdfdf
	

//tabla de intenciones registradas
#listadoIntencion
	.table-responsive
		h2
			color #aaa
			font-size 25px
			font-weight 600
			text-transform capitalize
			
#newIntencionBox
	background #fff
	left 0
	height 100%
	overflow-y auto
	position fixed
	top 110%
	transition .2s all
	width 100%
	z-index 2000
	
	#headerNewIntencion
		background color2
		padding 10px
	
		#boxButtonAtras
			button#atras
				background: #0003;
				border: 0;
				border-radius: 50px;
				color: #fff;
				cursor pointer
				font-size: 15px;
				font-weight 500
				outline none
				padding 5px 12px
				&:hover
					background #fff
					color color2
		h5
			color #fff
			font-size 16px
			font-weight 500

	form#fintencion
		height calc(100% - 66px)
		overflow-y auto
		padding 10px
		
		#btnFinalizarBox
			bottom 10px
			margin-top 10px
			position absolute
			right 10px
			
			/*input#btnFinalizar
				background: color3;
				border-radius: 50px;
				box-shadow: 2px 2px 6px 0 #a5a5a5;
				color: #fff;
				padding: 7px 12px;
				&:hover
					opacity .8*/

@media(min-width 576px)
	#newIntencionBox
		background #fff
		left 0
		height 100%
		position fixed
		top 110%
		transition .2s all
		width 100%
		z-index 2000
		
		#headerNewIntencion
			background #fff
			padding 0
			position relative

			#boxButtonAtras
				position absolute
				right 0
				
				button#atras
					border: 2px solid transparent;
					transition .5s all
					&:hover
						background #fff
						border 2px solid color2
						color color2
			h5
				color color3
				font-size 30px
				font-weight bold
		form#fintencion
			height auto
			overflow-y initial
			padding 0
			
			#btnFinalizarBox
				position static
				
				/*input#btnFinalizar
					background: color3;
					border-radius: 50px;
					box-shadow: 2px 2px 6px 0 #a5a5a5;
					color: #fff;
					padding: 7px 12px;*/
//-fin de tabla de intencion
	
/*input, .form-module input[type="text"], .form-module input[type="date"], .form-module input[type="password"], .form-module input[type="email"], .form-module input[type="search"],select, .custom-select, .form-module .custom-select
	border 0
	border-bottom 1px solid #ddd
	border-radius 0
	font-size 13px
	margin 0
	padding 0
	padding-right 30px
	width 100%
	&::-webkit-search-cancel-button
		-webkit-appearance none
	&:focus
		border 0
		border-bottom 1px solid color3*/
		
/*#btnBuscar
	border-radius 50px
	font-size 14px
	font-weight 400
	margin-top 10px
	padding 5px 15px
	text-align right
	text-transform initial !important*/
	
/*#edit, #delete
	border 0
	border-radius 50px
	color #fff
	cursor pointer
	font-size 12px
	font-weight 500
	outline none
	padding 3px 7px
#edit
	background color4
#delete
	background #e00a45*/

/*#new.newintencion
	background #fff
	box-sizing border-box
	left 100%
	height 100% !important
	overflow-y auto
	top 0
	transition .2s all
	width 100%
	z-index 1200
	
	a#closeNewIntencion
		display inline-block
		margin-top 15px
		text-decoration none
		&:hover
			background initial !important
		&:before
			color #ddd
			margin 0 !important
			
	h3
		color color2
		font-size 35px
		font-weight 800
		margin 0	
	#fechaactual,#nrointencion
		color #aaa
		font-size 14px*/
		
/*.table-responsive
	table.table
		font-size 12px
		thead
			th
				font-weight bold
				padding 6px
				text-align right
		tbody
			tr
				border-top 1px solid #ddd
			td
				font-weight 500
				color #000
				text-align right
				vertical-align middle
				#delete
					background #dc3545
					border 0
					border-radius 50px
					color #fff
					cursor pointer
					font-weight normal
					height 25px
					outline none
					width 25px
					&:before
						font-size 15px
						margin 0 !important
						margin-left 5px
						padding 0
						transition .3s all
					&:after
						content ''
			#options
				text-align left
				.options
					//background color3
					border 0
					border-radius 50%
					//padding 3px 10px
					color #fff
					cursor pointer
					height 28px
					outline none
					transition .2s all
					width 28px
					&:before
						font-size 15px
						margin 0 !important
				.show
					transform rotate(45deg)
					
				#mas
					background color3
				#add
					background color2
				#print
					background color1
		td.detalletabla
			background #ddd
			border-radius 5px
			display none
			.table-responsive
				#tbDetalle
					th,td
						font-size 12px
					thead
						th
							font-size 10px
							color #333
					tbody
						td
							border-top 1px solid #ccc
							font-weight normal
							color #555
		.td-responsive
			display none*/
		
/*.table-responsive       
	.table
		font-size 15px
		thead
			th
				//font-size 15px
				font-weight bold
				padding 6px
				
		tbody
			td
				font-weight 500
				color #000
				vertical-align middle					
				#delete
					background #dc3545
					border 0
					border-radius 50px
					color #fff
					cursor pointer
					font-weight normal
					outline none
					padding 2px 10px
					i:before
						font-size 15px
						margin 0 !important
						margin-left 5px
						padding 0
						transition .3s all
			#options
				.options
					//background color3
					border 0
					border-radius 50%
					//padding 3px 10px
					color #fff
					cursor pointer
					height 28px
					outline none
					transition .2s all
					width 28px
					&:before
						font-size 15px
						margin 0 !important
				.show
					transform rotate(45deg)
					
				#mas
					background color3
				#add
					background color2
				#print
					background color1

			tr
				border-top 0
				td
					a.edit:before
						background #0070ff
						border-radius 50%
						color #fff
						font-size 15px !important
						margin 0 !important
						padding 8px
		td.detalletabla
			background #ddd
			border-radius 5px
			display none
			.table-responsive
				#tbDetalle
					th,td
						font-size 12px
					thead
						th
							font-size 10px
							color #333
					tbody
						td
							border-top 1px solid #ccc
							font-weight normal
							color #555*/
		
/*.total
	margin-top 7px//15px
	margin-bottom 10px
	h4
		margin 0
		font-weight 700
		text-align right
		span#haTotal
			color color2*/
/*a#nuevaintencion
	border-radius 50px
	font-size 13px*/
	//padding 5px
	//width auto !important	

/*#fintencion
	.col,.col
		padding 0 !important
	& > label
		color #000
		font-size 13px
		font-weight 500
		margin 0
		span
			color color3
			font-weight bold
			padding 0 2px
			padding-right 10px*/
	/*input[type="date"],select#newentidad
		border 0
		border-bottom 1px solid #ddd
		border-radius 0
		margin 0
		padding 0 0 5px 0
		width 100%
		&::-webkit-search-cancel-button
			-webkit-appearance none*/
		
	/*#addItem
		border-radius 50px
		display inline-block
		font-size 14px
		font-weight 400
		margin 10px 0
		padding 5px 10px
		transition .5s all
		span
			padding 0 10px
		&:hover,&:focus
			background color4
			color #fff
	table
		text-transform uppercase !important
			
		td
			border 0 !important
			vertical-align middle
		.deleteItem
			background #e00a45
			border-radius 50px
			color #fff
			font-size 13px
			font-weight 500
			padding 10px
			text-decoration none
			&:hover,&:focus
				background #f53167
			i:before
				color #fff
				font-size 15px
				margin 0*/
				
	/*#bguardar
		border-radius 0
		margin 5px 0
#canelar-and-update
	display block
	padding 8px 15px*/
	
/*#AddItems
	background #f1f1f1
	border-radius 5px
	margin 10px 0
	padding 15px !important
	width 100%
		
	h5
		color color4
		font-size 20px
		font-weight 900
		margin 0
	p
		margin 0
		margin-bottom 10px*/
		
	/*label
		color #000
		font-size 14px
		font-weight 500
		margin 0 5px
		margin-bottom 10px
		text-align center
		span
			color color3
			font-weight bold
			padding 0 2px
			padding-right 10px*/
			
	/*input, select.custom-select
		background-color transparent
		font-size 14px
		margin-top 3px
		padding 7px 0
		
	#otraundproduccion
		margin 10px 0
		input,select
			margin-top 0
		.col-12,.col-sm-6,.col-sm-10,.col-sm-2
			padding 7px
		strong span
			font-weight normal
		#btnarrendar
			background color2
			border-radius 50px
			color #fff
			outline none
			padding 7px 20px*/
			
	/*#haintencion:focus
		outline: none
		
	#addList
		align-items center
		border-radius 50px
		bottom -30px
		display flex
		font-size 13px
		font-weight normal
		justify-content center
		margin-top 5px
		padding 5px 10px
		position absolute
		right 0
		&:hover,&:focus
			background color4
		span
			color #fff*/

/*.mTable
	margin-top 20px
	max-width 100%
	
	.mtHead
		display none

	.mTr
		background #fff
		border 1px solid #eee
		border-radius 5px		
		box-shadow 0 0 5px #eee
		margin-top 10px
		padding 5px
		transition .5s all
		width 100%
		&:hover
			background #f8f8f8
		&:focus
			background #f8f8f8
		.mTd
			display inline-block
			color #000
			font-size 13px
			font-weight 600
			vertical-align top
			width auto
			span
				color #777
				font-weight normal
			#removeIntencion
				font-weight normal
				bottom 5px
				position absolute
				right 5px
				&:hover > i:before
					background #eee
				i:before
					border-radius 50%
					color #f53167
					margin 0 !important
					padding 5px
					transition .3s all*/
	
@media(min-width 414px)

	/*.mTable
		.mtHead,.mtBody
			display table
		.mTr
			background transparent
			border 0
			border-radius 0	
			box-shadow none
			display table-row
			padding 0
			.mTd,.mTh
				border-top 1px solid #eee
				display table-cell
				padding 5px
			.mTd
				span
					display none
				#removeIntencion
					display none
		.mtHead .mTh
			color color2
			font-weight bold*/

	/*.form-module
		display flex
		flex-flow row wrap
		align-items center*/
		
		/*input,.custom-select
			flex auto
			width auto*/
		/*.btn-reg
			flex none*/
				
@media(min-width 576px)
	/*.table-responsive
		table.table
			font-size 12px
			thead
				th
					font-weight bold
					padding 6px
					//text-align left
			tbody
				tr
					border-top 1px solid #ddd
				td
					font-weight 500
					color #000
					//text-align right
					vertical-align middle
					#delete
						background #dc3545
						border 0
						border-radius 50px
						color #fff
						cursor pointer
						font-weight normal
						height 25px
						outline none
						padding 2px 5px
						width auto
						&:after
							content 'Quitar'
							font-family "Rubik"
							font-size 13px
							margin-left 5px !important
			.td-responsive
				display table-cell*/
			
	/*.table-responsive       
		.table
			font-size 15px
			thead
				th
					//font-size 15px
					font-weight bold
					padding 6px
					
			tbody
				td
					font-weight 500
					color #000
					vertical-align middle					
					#delete
						background #dc3545
						border 0
						border-radius 50px
						color #fff
						cursor pointer
						font-weight normal
						outline none
						padding 2px 10px
						i:before
							font-size 15px
							margin 0 !important
							margin-left 5px
							padding 0
							transition .3s all
				#options
					.options
						//background color3
						border 0
						border-radius 50%
						//padding 3px 10px
						color #fff
						cursor pointer
						height 28px
						outline none
						transition .2s all
						width 28px
						&:before
							font-size 15px
							margin 0 !important
					.show
						transform rotate(45deg)
						
					#mas
						background color3
					#add
						background color2
					#print
						background color1

				tr
					border-top 0
					td
						a.edit:before
							background #0070ff
							border-radius 50%
							color #fff
							font-size 15px !important
							margin 0 !important
							padding 8px
			td.detalletabla
				background #ddd
				border-radius 5px
				display none
				.table-responsive
					#tbDetalle
						th,td
							font-size 12px
						thead
							th
								font-size 10px
								color #333
						tbody
							td
								border-top 1px solid #ccc
								font-weight normal
								color #555*/