@import url("./main.css");
@import "../includes/varandfunctions.styl"

body
	background #f8f8f8

#maquinaria
	menu_selected()		
		
@media(min-width 414px)
	//estilo de form
	/*#fCiclo
		display flex
		flex-flow row wrap
		align-items center
		
		input,.custom-select
			flex auto
			width auto
		#codCiclo
			max-width 150px
		#btnRegCiclo
			flex none*/