-var modulo = 'Paquete Tecnológico';
-var estilosCss = 'css/paquetetec.css';
-var formato_archivos = '';

|<?php
|	include("../controller/mainscript.php");
|	require_once("../controller/class.paquetetec.php");
|	require_once("../controller/class.intencion.php");
| $nUNDproduccion = count($undproduccion["data"]);
|
|	if($_SESSION["nivel"]=='PRODUCTOR'){
|		if($nUNDproduccion<1){
|			header("location:./primerospasos");
|		}else{
|			$intencion = new IntencionSiembra(array(
|					"ciclo"=>"%",
|					"fecha1"=>"1900-01-01",
|					"fecha2"=>"2050-12-31",
|					"rubro"=>"%",
|					"estado"=>"%",
|					"municipio"=>"%",
|					"parroquia"=>"%",
|					"sector"=>"%",
|					"productor"=>"%",
|					"entidad"=>"%"
|			));
|			$verifyintencion = $intencion->buscar();
|			if($verifyintencion["estado"]===true){
|				$data = $verifyintencion["data"];
|				if(count($data)<1){
|					header("location:./primerospasos");
|				}
|			}
|		}
|	}
|
|?>

doctype
html.h-100(lang="es")
	head
		include ../includes/head_common.pug
		title Sepa
		link(rel="stylesheet" href=estilosCss)
		script.
			let jsonCiclos = JSON.parse(`<?php echo $total_ciclos; ?>`);
			//var listEstados = JSON.parse(`<?php //echo $obtener_estados; ?>`);
			var ssdata = JSON.parse(`<?php echo $session_data; ?>`);
			//console.log(ssdata.filtro);

	body.h-100
		#fondoDark
		.container-fluid.h-100
			
			include ../includes/header.pug
			.main-content.row.h-100
				.barra_lateral.col-12.col-md-auto
					nav
						.leyenda
							a(href="./dashboard" + formato_archivos) Principal
							span  / 
							a(href="./archivos" + formato_archivos) Archivos
							span  / #{modulo}
						include ../includes/mnu_archivos.pug
				main.contenido.col
					.row.m-0
						section#migasdepan.col-12
							.leyenda
								a(href="./dashboard" + formato_archivos) Principal
								span  > 
								a(href="./archivos" + formato_archivos) Archivos
								span 
									| > 
									b #{modulo}
						section.col-12.col-lg
							#cont-productores.card
								h3.flaticon-agricultor Paquete Tecnológico
								br
								ul#tabProductores.nav.nav-tabs.d-none(roles="tablist")
									li.nav-item
										a#tabListpaquetetec.nav-link.active(href="#list", data-toggle="tab") Paquetes registrados
									li.nav-item
										a#tabNewpaquetetec.nav-link(href="#new", data-toggle="tab") Datos Principales
								
								#contenidoTabproductores.tab-content
									#list.tab-pane.fade.show.active(role="tabpanel")
										h4 Paquetes registrados
										hr
										form#fbuscar(action="")
											.row.m-0
												.col-12.col-sm.p-1
													select#entidad.custom-select(name='entidad')
														option(value="") Entidad
														|<?php
														|	$paqueteTec = new PaqueteTec();
														|	$entidad = $paqueteTec->getEntidad();
														|	$estado = $entidad["estado"];
														|	$desc = $entidad["descripcion"];
														|	$reg = $entidad["data"];
														|	foreach ($reg as $key => $value) {
														|		echo "<option value='".$value['ndoc']."'>".$value['razons']."</option>";
														|	}
														|	if(count($reg)<1) echo "<option value='A000000001'>Autofinanciado</option>";
														|?>
												//.col-12.col-sm.p-1.autocomplete
													input#lproductor(type="text" name="productor" placeholder="Productor" data-twovalue="")
													//select#lproductor.custom-select(name='productor' v-model="lproductor")
														option(value="") Productor
												.col-12.col-sm.p-1
													select#rubros.custom-select(name="rubro")
														option(value="") Rubros
														|
														|<?php
														|	$sql = "SELECT * FROM rubros";
														|	$param=[];
														|	$rQuery = Querys::QUERYBD($sql,$param);
														|	$state=$rQuery["state"];
														|	if($state){
														|		$stmt = $rQuery["stmt"];
														|		while($f=$stmt->fetch()){
														|			echo "<option value='".$f['codrubro']."'>".$f['desrubro']."</option>";
														|		}
														|	}
														|?>
												.col-auto.p-1
													input#buscarPaquete.b-style-color2(type="submit" name="buscar" value="Buscar")
										//Paquetes productivos registrado
										.table-responsive
											table#tablaPacT.tabla-paquetetec.table.table-striped.table-hover.table-bordered
												thead
													tr
														th #
														th.d-none(title='Clasificación') Clasif.
														th Descripción
														th Und. Medida
														th Cantidad
														th(title='Costo Unitario de Mercado') Cs/U Mercado
														th(title='Costo Total de Mercado') Cs/T Mercado
														th(title='Costo Unitario Encisa') Cs/U Encisa
														th(title='Costo Total Encisa') Cs/T Encisa
												tbody
											h4.noData
										//.row.mx-0.mt-3.justify-content-end
											.col-auto.p-0.app
												button#btnNewPaquete.b-style-color1.d-none(type="button" @click='newPaqueteForm') Nuevo paquete
									#new.tab-pane.fade(role="tabpanel")
										.row.mx-1
											.col.p-1
												h4 Agrega los items de tu paquete tecnológico
										form#fpaquete.form-module(action="#" method="post" autocomplete="off")
											.row
												.col-12.col-sm.p-1
													label Clasificación *
													.autocomplete
														input#clasificacion(type="text", name="clasificacion" placeholder='Siembra, Insumos' v-model='clasificacion')
												.col-12.col-sm.p-1
													label Descripción *
													input#desc(type="text", name="desc" placeholder='Arado, Semilla' v-model='desc')
												.col-12.col-sm.p-1
													label Unidad de Medida *
													select#undmedida.custom-select(name='undmedida' v-model="undmedida")
														option(value="") Seleccione una opción
														option(value='pase') Pase
														option(value='plantas') Plantas
														option(value='lts.') Lts.
														option(value='galon') Galon
														option(value='unidad.') Unidad
														option(value='kg.') Kg.
														option(value='tn.') Tn.
														option(value='grs.') Grs.
														option(value='m3') M3
														option(value='jornal') Jornal
														option(value='%') %
														option(value='días') Días
														option(value='riego') Riego
														option(value='cesta') Cesta
														option(value='ton.') Ton.
														option(value='saco') Saco
														option(value='viaje') Viaje
														option(value='tasa') Tasa
														option(value='alícuota') Alícuota
														option(value='vuelo') Vuelo
														option(value='cuota') Cuota
														option(value='varas') Varas
														option(value='paquete') Paquete
														option(value='tm-ha') Tm/Ha
														option(value='lata') Lata
														option(value='sobres') Sobres
														option(value='cormo') Cormo
														option(value='muestra') Muestra
													//input#undmedida(type="text", name="undmedida" placeholder='Kg, Litro, Jornal')
												.w-100
												.col-12.col-sm.col-md.p-1
													label Cantidad *
													input#cantidad.number(type="text", name="cantidad" v-model="cantidad" v-masknumberdc)
												.col-12.col-sm.col-md.p-1
													label Costo Unit. de Mercado *
													input#costoum.number(type="text", name="costoum" v-model="costoum" v-masknumberdc)
												//.col-12.col-sm-4.col-md.p-1
													label Costo Total de Mercado *
													input#costotm.number(type="text", name="costotm" v-model="costotm" v-masknumberdc)
												.col-12.col-sm.p-1
													label Costo Unit. Encisa *
													input#costoue.number(type="text", name="costoue" v-model="costoue" v-masknumberdc)
												//.col-12.col-sm.p-1
													label Costo Total Encisa *
													input#costote.number(type="text", name="costote" v-model="costote" v-masknumberdc)
												.w-100
												.col-auto.p-0.mt-2.ml-auto
													input#btnBack.b-style-color1(type="button" value="Volver" onclick="js('#tabListpaquetetec').click(),js('#buttonNew').removeAttribute('style')")
												.col-auto.px-1.mt-2
													input#btnClean.b-style-cancel(type="button" value="Cancelar")
												.col-auto.p-0.mt-2
													input#btnRegPaquete.b-style-color3.load(type="submit" value="Agregar")
				.button-primary-new
					button#buttonNew.flaticon-anadir(type='button' disabled onclick="newFormPaquete()")
				#boxNew.row.m-0.position-fixed.h-100
						#boxButtons.align-self-end
							.item-button
								label Intención de siembra
								a.flaticon-escritura(href="./intencion")
							//.item-button
								label Financiamiento
								a.flaticon-tractor(href="./financiamiento")
							.item-button
								label Nuevo Paquete tecnológico
								a.flaticon-agricultor(href='javascript:void(0)' onclick="main.hideBoxNew(), js('#tabNewpaquetetec').click()")

	include ../includes/scripts.pug
	script(src="js/datatables/datatables.min.js")
	script(src="js/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js")
	script(src="js/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js")
	script(src="js/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js")
	script(src="js/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js")
	script(src="js/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js")
	script(src="js/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js")
	script(src="js/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js")
	script(src="js/class.paquetetec.js")
	script.

		var main = new Main();
		var dashboard = new Dashboard();
		dashboard.getCicle(jsonCiclos);
		main.boxNew();

		let arrProductor=[];

		let ciclo = jsonCiclos.ciclo_actual;

		let fbuscar = js("#fbuscar");
		let entidad = js("#entidad");
		//let lproductor = js("#lproductor");
		let rubros = js("#rubros");
		let form = js("#fpaquete");
		let rubro = js("#rubros");
		let desc = js("#desc");
		let clasificacion = js("#clasificacion");
		let undmedida = js("#undmedida");
		let cantidad = js("#cantidad");
		let costoum = js("#costoum");
		//let costotm = js("#costotm");
		let costoue = js("#costoue");
		//let costote = js("#costote");
		//let bGuardar = js("#btnRegPaquete");
		let bLimpiar = js("#btnClean");

		let upPaqueteTec = 0;

		var blockElement = [rubro]; //elementos a ser bloqueados

		var paquetetec = new PaqueteTec(
			entidad,
			//lproductor,
			rubros,
			desc,
			clasificacion,
			undmedida,
			cantidad,
			costoum,
			//costotm,
			costoue,
			//costote,
			form
		);

		//obtener listado de productores
		/*entidad.addEventListener("change",function(){
			paquetetec.getProductor(this.value,lproductor);
		});*/

		/*var vm = new Vue({
			el: ".app",
			data:{
			},
			directives:{
				masknumberdc:{
					inserted: function(e){
						IMask(e,{mask:EXPnumberDecimal});
					}
				}
			},
			methods:{
				searchPaquete: function(){
					console.log("dddd");
				},
				newPaqueteForm: function(e){
					
				},
				saveNewPaquete: function(e){
					paquetetec.saveNewPaqueteTec();
				},
				cleanForm: function(){
					paquetetec.cleanForm();
				}
			}
		});*/

		IMask(cantidad,{mask:EXPnumberDecimal});
		IMask(costoum,{mask:EXPnumberDecimal});
		//IMask(costotm,{mask:EXPnumberDecimal});
		IMask(costoue,{mask:EXPnumberDecimal});
		//IMask(costote,{mask:EXPnumberDecimal});

		fbuscar.addEventListener("submit",function(e){
			e.preventDefault();
			paquetetec.searchPaquete(this);
		});

		
		function newFormPaquete(){
			let valid = main.valid(fbuscar);
			if(!valid[0]) {
				swal("¡Error!", valid[2], "error",{button:{
					text: "Aceptar",
					className:"errorSweetAlert",
					closeModal:true
				}}).then(function(){
					valid[1].focus();
					bNewPaquete.setAttribute("disabled","disabled");
				});
			}else{
				//js("#tabNewpaquetetec").click();
				//main.hideBoxNew();
				//clasificacion.focus();
			}		
		}

		/*let bNewPaquete = js("#btnNewPaquete");
		bNewPaquete.addEventListener("click",function(){
			let valid = main.valid(fbuscar);
			if(!valid[0]) {
				swal("¡Error!", valid[2], "error",{button:{
					text: "Aceptar",
					className:"errorSweetAlert",
					closeModal:true
				}}).then(function(){
					valid[1].focus();
					bNewPaquete.setAttribute("disabled","disabled");
				});
			}else{
				js("#tabNewpaquetetec").click();
				clasificacion.focus();
			}
		})*/

		form.addEventListener('submit',function(e){
			e.preventDefault();
			paquetetec.saveNewPaqueteTec();
		});

		bLimpiar.addEventListener("click",function(e){
			paquetetec.cleanForm();
		})

		let bBack = js("#btnBack");
		bBack.addEventListener("click",function(){
			js("#tabListpaquetetec").click();
		});

		/*let arrayProductores = [];
		let valueStatus = 0
		let updateProductor = 0;
		var blockElement = [cRif]; //elementos a ser bloqueados

		//validar campos con expresiones regulares. Cuando el usuario teclee
		IMask(cRif,{mask:EXPrifMask});
		IMask(tlf,{mask:'0000-0000000'});

		//isntanciar clase Productores en la variable productores
		let productores = new Productores(
			cRif,
			razonsocial,
			tlf,
			email,
			url,
			direccion,
			representante,
			estatus
		);

		window.addEventListener("load",function(){
			//productores.buscar();
			//pmain.obtenerEstados(listEstados);
		});

		$('.tabla-productores').DataTable({
				dom: 'Bfrtip',
				buttons: [
						'excel', 'pdf', 'print'
				]
		});	 

		//obtener datos del registro seleccionado y pasarlos al formulario editar

		$(document).on("click",".edit",function(e){
			let tr = $(this).parents("tr");

			let data = {
				rif:tr.children("td").eq(1).text(),
				razonsocial:tr.children("td").eq(2).text(),
				direccion:tr.children("td").eq(3).text(),
				telefono:tr.children("td").eq(4).text(),
				representante:tr.children("td").eq(5).text(),
				correo:tr.children("td").eq(6).text(),
				pagina:tr.children("td").eq(7).text(),
				estatus:tr.children("td").eq(8).text()
			}
			productores.editar(data);
		});

		//validar y guardar nuevo registro
		forms.addEventListener('submit',function(e){
			e.preventDefault();

			productores.guardar();

		});

		bLimpiar.addEventListener("click",function(e){
			productores.limpiar();
		})*/