@import url("./main.css");
@import "../includes/varandfunctions.styl"

body
	background #f8f8f8

#rubro
	menu_selected()
	
#btnClean,#btnClean1,#btnClean2
	padding 8px 15px
	
#fGrupo,
#fSubgrupo,
#fRubro
	.row
		margin 0 5px !important
		.col-12,.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12
			margin-bottom 5px
			padding 0 3px !important
			
			label
				color #555	
			p.large-control
				color color2
				font-size 16px
				font-weight 500
				margin-bottom 5px
.table-responsive
	table.table
		//text-transform uppercase !important
		tbody
			td
				border 0 !important
				vertical-align middle
				/*a#deleteItem
					background #e00a45
					border-radius 50px
					color #fff
					font-size 13px
					font-weight 500
					padding 7px
					text-decoration none
					&:hover,&:focus
						background #f53167
					&:before
						color #fff
						font-size 15px
						margin 0*/
		
/*@media(min-width 414px)
	//estilo de form
	.form-module
		display flex
		flex-flow row wrap
		align-items center
		
		input,.custom-select
			flex auto
			width auto
		#coGrupo,#coSubgrupo,#coRubro
			max-width 150px
		.btn-reg
			flex none*/