.row.m-0.h-100.justify-content-center.h-100
	.col-12.align-self-center.p-0
		.row.m-0.justify-content-center.align-items-center
			#success.col-8
				h1 ¡Felicidadez! Registro Terminado
				p Ahora puedes ingresar a la plataforma 
					a(href="./dashboard") app.sepa.co.ve/<b>dashboard</b>
					|  y procesar tu nueva intención de siembra