@import url("./main.css");
@import "../includes/varandfunctions.styl"

body
	background #f8f8f8

#t-campo
	menu_selected()
	
/*#fTecnico
	.row
		margin 0 5px !important
		.col-12,.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12
			margin-bottom 5px
			padding 0 3px !important
			
			label
				color #555	
			p.large-control
				color color2
				font-size 16px
				font-weight 500
				margin-bottom 5px*/
	
		
/*@media(min-width 414px)
	#fTecnico
		display flex
		flex-flow row wrap
		align-items center
		
		input,.custom-select
			flex auto
			width auto
		#crif
			max-width 150px
		#btnRegTecnico
			flex none
			margin-top 0*/
		