@import url("./main.css");


.logotipo
	display block
	margin 0 auto
	margin-top 20px
	max-width 180px
	img
		width 100%

#singup
	margin-top 50px
	h2
		color color2
		font-size 40px
		font-weight 800
		margin-bottom 20px
		text-align center

form#fusers
	margin 0 auto
	max-width 350px

/*form#fusers
	max-width 350px
form .col,.col-12
	//padding 3px
	
	input,select.custom-select
		font-size 17px
		margin 0
		min-width 200px
	.button-primary
		width 100%
	#productorData
		background #efefef
		border-radius 3px
		padding 10px !important
		margin 5px 0*/
.inputload
	//background-color #fff
	background-image url(../img/loading.svg)
	background-position calc(100% - 5px) !important
	background-size 7% !important
	background-repeat no-repeat !important
	padding-right 30px