.busqueda.row
	.col.p-0
		form#form-buscar.forms.form-inline(method="post" autocomplete="off")
			#box-input-search.col-12.p-0.position-relative
				input#search_main.btn_search(type="search", name="tBuscar" placeholder="Buscar")
				input#bsearch.btn_search.flaticon-busqueda.position-absolute(type="submit" name="bSearch" value="Buscar")