ul
	li
		a.flaticon-escritura(href="#") Acondicionamiento
	li
		a.flaticon-tractor(href="#") Siembra
	li
		a.flaticon-escritura(href="#") Cosecha
	li
		a.flaticon-numero-de-seguimiento(href="#") Producción
	li
		a#logout.flaticon-logout(href="#") Cerrar Sesión