ul
	li
		a.flaticon-escritura(href="#") Productor/Empresa
	li
		a.flaticon-tractor(href="#") Unidad de Producción
	li
		a.flaticon-escritura(href="#") Maquinaria
	li
		a.flaticon-numero-de-seguimiento(href="#") Almacenamiento
	li
		a.flaticon-mantenimiento(href="#") Entes financiero
	li
		a.flaticon-boton-de-ayuda-bocadillo-con-signo-de-interrogacion(href="#") Receptorías
	li
		a.flaticon-logout(href="#") Técnicos de campo
	li
		a#logout.flaticon-logout(href="#") Cerrar Sesión