ul
	li
		a#mnuprincipal.flaticon-salpicadero(href="./dashboard" + formato_archivos) Principal
	li
		a.flaticon-escritura(href="./archivos" + formato_archivos) Archivos
	li
		a.flaticon-tractor(href="./operaciones" + formato_archivos) Operaciones
	//li
		a.flaticon-portafolios-con-lapiz(href="./seguimiento" + formato_archivos) Seguimiento
	//li
		a.flaticon-numero-de-seguimiento(href="./preguiado" + formato_archivos) Pre-guiado
	//li
		a.flaticon-mantenimiento(href="./mantenimiento" + formato_archivos) Mantenimiento
	//li
		a.flaticon-boton-de-ayuda-bocadillo-con-signo-de-interrogacion(href="./ayuda" + formato_archivos) Ayuda
	li
		a#logout.flaticon-logout(href="../controller/logout.session.php" + formato_archivos) Cerrar Sesión